<div class="row">
  <div class="twelve columns">
    <h4><%= locales.forgot_password_header %></h4>
    <p><%= locales.forgot_password_description %></p>

    <form class="forgot-password" autocorrect="off" autocapitalize="off" spellcheck="false">
      <ul>
        <label><%= locales.email_address %></label>
        <li class="field">
          <input class="input" type='text' name='email'>
          <p class="forgot-failed-message"></p>
        </li>
        <li>
          <div class="row">
            <div class="columns twelve">
              <button type='submit' value='Reset Password' class="primary-btn"><%= locales.submit %></button>
            </div>
          </div>
          <div class="columns twelve cancel-button">
            <a href=''><%= locales.forgot_password_cancel_btn %></a>
          </div>
        </li>
      </ul>
    </form>
  </div>
</div>