<div class="landing-page-section">

<section id="phone">
    <div class="inside_phone">
        <div class="vid_container">
            <video
                id="video1"
                preload="auto"
                muted="true"
                loop="true"
                poster="https://res.cloudinary.com/mapmyfitness/image/upload/v1450306114/frame1_pxzo85.png"
                class="splash-image collect-placeholder"
                style="opacity: 1;"
                isrender="true"
                autoplay>
                    <source src="https://res.cloudinary.com/mapmyfitness/video/upload/c_scale,w_288/v1449788315/01_Dashboard-1_gly9cf.mp4">
            </video>
            <video
                id="video2"
                preload="auto"
                muted="true"
                loop="true"
                poster="https://res.cloudinary.com/mapmyfitness/image/upload/v1449794193/2_placeholder_x0elld.png"
                class="splash-image collect-placeholder"
                style="opacity: 1;"
                isrender="true">
                    <source src="https://res.cloudinary.com/mapmyfitness/video/upload/c_scale,w_288/v1449791737/02_TrackAnalyze288_etfmw9.mp4">
            </video>
            <video
                id="video3"
                preload="auto"
                muted="true"
                loop="true"
                poster="https://res.cloudinary.com/mapmyfitness/image/upload/v1450122437/Screenshot_2015-12-14_12.46.26_h1zfnz.png"
                class="splash-image collect-placeholder"
                style="opacity: 1;"
                isrender="true">
                    <source src="https://res.cloudinary.com/mapmyfitness/video/upload/c_scale,w_288/v1450112245/03_Set_Reach_Goal288_eb9rgp.mp4">
            </video>
            <video
                id="video4"
                preload="auto"
                muted="true"
                loop="true"
                poster="https://res.cloudinary.com/mapmyfitness/image/upload/v1450221284/Screenshot_2015-12-15_16.13.39_gcpj3z.png"
                class="splash-image collect-placeholder"
                style="opacity: 1;"
                isrender="true">
                    <source src="https://res.cloudinary.com/mapmyfitness/video/upload/c_scale,w_288/v1450218233/04_Challenge288_ef1jph.mp4">
            </video>
        </div>
    </div>
</section>
    <div id="slides">
        <section id="hero" class="slide active">
            <div class="row">
                <div id="hero_content" class="five columns">
                    <h3><%=locales.hero.headline%></h3>
                    <p><%=locales.hero.description%></p>
                    <p><strong><%=locales.hero.download%></strong></p>
                    <a href="https://itunes.apple.com/app/apple-store/id895425891?pt=662151&ct=record_web_landing&mt=8" id="download_ios">
                        <img height="40" src="<%= locales.ios_app_store_url  %>" alt="Download on App Store"/>
                    </a>
                    <a href="https://play.google.com/store/apps/details?id=com.ua.record&referrer=utm_campaign%3Drecord_web%26utm_source%3Drecord%26utm_medium%3Dreferral%26utm_content%3D%26utm_term%3D" id="download_droid">
                        <img height="40" src="<%= locales.google_play_url  %>" alt="Download on Google Play Store" />
                    </a>
                </div>
            </div>
        </section>

        <section id="track_analyze" class="slide active">
            <div class="row">
                <div class="five columns">
                    <h3><%=locales.track_analyze.headline%></h3>
                    <p><%=locales.track_analyze.description%></p>
                    <p><strong>NUTRITION POWERED BY</strong></p>
                    <a href="https://www.underarmour.com/en-us/ua-record">
                        <img width="209" src="https://res.cloudinary.com/mapmyfitness/image/upload/v1450455156/MFP-larger-logo_chk9s8.png" />
                    </a>
                </div>
            </div>
        </section>

        <section id="goals" class="slide active">
            <div class="row">
                <div class="five columns">
                    <h3><%=locales.goals.headline%></h3>
                    <p><%=locales.goals.description%></p>
                </div>

            </div>
        </section>

        <section id="challenges" class="slide active">
            <div class="row">
                <div class="five columns">
                    <h3><%=locales.challenges.headline%></h3>
                    <p><%=locales.challenges.description%></p>
                </div>
            </div>
        </section>

        <section id="connect" class="slide active">
            <div class="row">
                <div class="five columns">
                    <h3><%=locales.connect.headline%></h3>
                    <p><%=locales.connect.description%></p>
                    <a href="https://www.underarmour.com/en-us/pid1292219-001?cid=MMF|REF|UARecord|Site|healthbox|system|">
                        <%=locales.connect.learn%>
                    </a>
                </div>
                <div class="columns seven">
                    <img src="https://res.cloudinary.com/mapmyfitness/image/upload/v1451945843/HB-bundle-Web-landing2_byjec7.png" />
                </div>
            </div>
        </section>

        <section id="uacf" class="slide active">
            <div class="row">
                <div class="twelve columns">
                    <h3><%=locales.uacf.headline%></h3>
                    <p><%=locales.uacf.description%></p>
                    <a href="https://www.underarmour.com/en-us/ua-record"><%=locales.uacf.learn%></a>
                </div>
                <div class="columns nine push_one">
                    <div class="columns three">
                        <div class="columns twelve app_icon">
                            <img src="https://res.cloudinary.com/mapmyfitness/image/upload/v1450304959/record-icon_gjzzre.png" />
                        </div>
                        <div class="columns twelve app_logo">
                            <img src="https://res.cloudinary.com/mapmyfitness/image/upload/v1450299353/record-logo_diblpb.png" />
                        </div>
                    </div>
                    <div class="columns three">
                        <div class="columns twelve app_icon">
                            <img src="https://res.cloudinary.com/mapmyfitness/image/upload/v1450299496/mfp-icon_nj8kpi.png" />
                        </div>
                        <div class="columns twelve app_logo">
                            <img src="https://res.cloudinary.com/mapmyfitness/image/upload/v1450299517/mfp-logo_pqmhj9.png" />
                        </div>
                    </div>
                    <div class="columns three">
                        <div class="columns twelve app_icon">
                            <img src="https://res.cloudinary.com/mapmyfitness/image/upload/v1450299546/mmf-icon_dqtnta.png" />
                        </div>
                        <div class="columns twelve app_logo">
                            <img src="https://res.cloudinary.com/mapmyfitness/image/upload/v1450299573/mmf-logo_zb8qdc.png" />
                        </div>
                    </div>
                    <div class="columns three">
                        <div class="columns twelve app_icon">
                            <img src="https://res.cloudinary.com/mapmyfitness/image/upload/v1450299613/endo-icon_oizk3d.png" />
                        </div>
                        <div class="columns twelve app_logo">
                            <img style="position: relative; top: -2px;" src="https://res.cloudinary.com/mapmyfitness/image/upload/v1450299619/endo-logo_px2ebf.png" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
